[Unit]
Description=Middleware Agent Service
Documentation=https://docs.middleware.io
After=network.target

# Prevent both services from running simultaneously
Conflicts=mw-agent-opamp.service

[Service]
EnvironmentFile=/etc/mw-agent/mw-agent.env
WorkingDirectory=/opt/mw-agent
User=root
ExecStart=/opt/mw-agent/bin/mw-agent start --config-file=/etc/mw-agent/agent-config.yaml
Type=simple
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target
