
# api-key is your Middleware API Key obtained by logging 
# into your Middleware account
api-key: 

# target is your unique Middleware account URL
target: 

# The duration for the agent to check for configuration changes from the
# backend. We recommend to keep this change to 5 minutes or higher. Keeping 
# this duration to a smaller value will impact resource consumption on the
# host.
config-check-interval: "5m"

# The tags required to identify / categorize the host in the Middleware UI.
# The tags are comma separated key:value pairs. Empty host-tag should always
# be a double quoted string ("").
# Examples:
# host-tags: "" 
# host-tags: "name:my-machine,env:production"
host-tags: ""

# This is the port where MW Agent exposes its internal metrics.
agent-internal-metrics-port: 8888

# log file to store agent logs in a given file. If left empty,
# the logs will be directed to stdout & stderr. 
# For Windows, this path needs to use double backslashes as a file separator 
# instead of a single backslash. 
# E.g. C:\\Program Files (x86)\\Middleware Windows Agent\\mw-agent.log
#logfile: "mw-agent.log"

# agent-features provides feature flags to enable or disable features.
# The list of agent-features that can be enabled or disabled is given below
#
# metric-collection: By setting this flag to false, you can disable metric 
# collection from this agent (including custom metrics). log-collection is 
# set to true by default.
#
# log-collection: By setting this flag to false, you can disable log 
# collection from this agent. log-collection is set to true by default.
#agent-features:
#  metric-collection: true
#  log-collection: true
