receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:9319
      http:
        endpoint: 0.0.0.0:9320

processors:
  resource:
    attributes:
    - key: mw.account_key
      action: insert
      value: ${MW_API_KEY}

  attributes/traces:
    actions:
      - key: mw.service.name.derived
        from_attribute: db.system
        action: insert
      - key: mw.service.name.derived
        from_attribute: messaging.system
        action: insert
      - key: mw.service.name.derived
        from_attribute: rpc.system
        action: insert
      - key: mw.service.name.derived
        from_attribute: http.scheme
        action: insert
      - key: mw.service.name.derived
        from_attribute: faas.trigger
        action: insert

exporters:
  logging:
    loglevel: debug
  otlp/2:
    endpoint: ${TARGET}
    tls:
      insecure: true
    headers:
      authorization: ${MW_API_KEY}

service:
  pipelines:
    traces:
      receivers: [ otlp ]
      processors: [ resource,attributes/traces ]
      exporters: [ logging, otlp/2 ]