name: Docker build suitable for Linux amd64, arm64 and Windows amd64

on:
  push:
    paths-ignore:
      - 'README.md'
      # - '.github/**'
    branches:
     - 'master'
     - 'workflow-experiments'

jobs:
  push_to_docker_registry:
    name: Build & Push Docker Image for Host Agent
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_USER }}
          password: ${{ secrets.GHCR_TOKEN }} # Consists Github Personal Access Token

      - name: Extract Metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ghcr.io/middleware-labs/agent-host-go

      - name: Build and Push
        uses: docker/build-push-action@v3
        with:
          context: ./
          push: true
          platforms: linux/amd64,linux/arm64
          tags: | 
            ${{ steps.meta.outputs.tags }}
            ghcr.io/middleware-labs/agent-host-go:${{ github.sha }}
          labels: ${{ steps.meta.outputs.labels }}