name: Host Agent - RPM

on:
  workflow_dispatch:
    inputs:
      release_version:
        description: 'Release number for RPM package'
        required: true

env:
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        arch:
          - x64
          - aarch64

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3
      with:
        token: ${{ secrets.GHCR_TOKEN }}
        ssh-key: ${{ secrets.CHECK_AGENT_ACCESS }}
        submodules: 'recursive'
        
    - name: Set architecture variables
      run: |
        if [ ${{ matrix.arch }} == "x64" ]; then
          echo "::set-env name=ARCH::all"
          echo "::set-env name=BINARY_SOURCE::release/mw-agent"
          echo "::set-env name=RELEASE_VERSION::$(echo "${{ github.event.inputs.release_version }}" | tr -d '\n')"
          echo "::set-env name=BINARY_NAME::mw-agent"
          echo "::set-env name=SPEC_FILE::test.spec"
        elif [ ${{ matrix.arch }} == "aarch64" ]; then
          echo "::set-env name=ARCH::aarch64"
          echo "::set-env name=BINARY_SOURCE::release/mw-agent"
          echo "::set-env name=RELEASE_VERSION::$(echo "${{ github.event.inputs.release_version }}" | tr -d '\n')"
          echo "::set-env name=BINARY_NAME::mw-agent"
          echo "::set-env name=SPEC_FILE::test-aarch64.spec"
        else
          echo "Unsupported architecture"
          exit 1
        fi

    - name: Creating Spec files
      run: |
        mkdir -p installables/rpmessentials
        touch installables/rpmessentials/$SPEC_FILE
        if [ ${{ matrix.arch }} == "x64" ]; then
          cat << EOF > installables/rpmessentials/test.spec
        Name: mw-agent
        Version: $RELEASE_VERSION
        Release: 1
        Summary: My Package Summary
        License: GPL
        Group: Development/Tools
        Source0: mw-agent_$RELEASE_VERSION-1_all.tar.gz
        
        
        %description
        My package description
        
        %prep
        %setup -q
        
        %build
        
        %install
        mkdir -p %{buildroot}/usr/bin/mw-agent
        cp -rfa ~/rpmbuild/BUILD/mw-agent-$RELEASE_VERSION/* %{buildroot}/usr/bin/mw-agent
        
        %files
        /usr/bin/mw-agent/*
        EOF
        elif [ ${{ matrix.arch }} == "aarch64" ]; then
          cat << EOF > installables/rpmessentials/test-aarch64.spec
        Name: mw-agent
        Version: $RELEASE_VERSION
        Release: 1
        Summary: My Package Summary
        License: GPL
        Group: Development/Tools
        Source0: mw-agent_$RELEASE_VERSION-1_aarch64.tar.gz
        
        
        %description
        My package description
        
        %prep
        %setup -q
        
        %build
        
        %install
        mkdir -p %{buildroot}/usr/bin/mw-agent
        cp -rfa ~/rpmbuild/BUILD/mw-agent-$RELEASE_VERSION/* %{buildroot}/usr/bin/mw-agent
        
        %files
        /usr/bin/mw-agent/*
        EOF
        else
          echo "Unsupported architecture"
          exit 1
        fi

    - uses: actions/cache@v3
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}

    - name: Creating Required Folder Structure
      run: |
        mkdir -p ~/rpmbuild/BUILD
        mkdir -p ~/rpmbuild/BUILDROOT
        mkdir -p ~/rpmbuild/RPMS
        mkdir -p ~/rpmbuild/SOURCES
        mkdir -p ~/rpmbuild/SPECS
        mkdir -p ~/rpmbuild/SRPMS
        mkdir -p ~/rpmbuild/SOURCES/$BINARY_NAME-$RELEASE_VERSION
        echo '%_topdir %(echo $HOME)/rpmbuild' > ~/.rpmmacros
        touch ~/rpmbuild/SPECS/$SPEC_FILE
        cp installables/rpmessentials/$SPEC_FILE ~/rpmbuild/SPECS/$SPEC_FILE

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.20.0

    # Building with CGO_ENABLED=0 so that we can build static binary which is not dependent on any external libraries
    # Building with -ldflags="-s -w" to reduce the size of binary
    - name: Go Build
      run: |
        if [ ${{ matrix.arch }} == "x64" ]; then
          CGO_ENABLED=0 go build -ldflags="-s -w -X main.agentVersion=${RELEASE_VERSION}" -v -a -o ~/rpmbuild/SOURCES/$BINARY_NAME-$RELEASE_VERSION/$BINARY_NAME cmd/host-agent/main.go
        elif [ ${{ matrix.arch }} == "aarch64" ]; then
          CGO_ENABLED=0 GOOS=linux GOARCH=arm64 go build -ldflags="-s -w -X main.agentVersion=${RELEASE_VERSION}" -v -a -o ~/rpmbuild/SOURCES/$BINARY_NAME-$RELEASE_VERSION/$BINARY_NAME cmd/host-agent/main.go
        fi
        
    - name: Tar Building
      run: |
        cd ~/rpmbuild/SOURCES
        echo "binary name"
        echo $BINARY_NAME
        echo "architecture"
        echo $ARCH
        tar czvf ~/rpmbuild/SOURCES/${BINARY_NAME}_$RELEASE_VERSION-1_$ARCH.tar.gz $BINARY_NAME-$RELEASE_VERSION/

        ls -l ~/rpmbuild/SOURCES/

    - name: Create RPM package
      run: |
        ls -l ~/rpmbuild/SOURCES

        if [ ${{ matrix.arch }} == "x64" ]; then
          rpmbuild -ba ~/rpmbuild/SPECS/$SPEC_FILE
        elif [ ${{ matrix.arch }} == "aarch64" ]; then
          rpmbuild -ba --target=aarch64 ~/rpmbuild/SPECS/$SPEC_FILE
        else
          echo "Unsupported architecture"
          exit 1
        fi

    - name: Acquire lock
      run: flock upload.lock -c "echo Lock acquired"

    - name: Upload artifacts to Github Pages (yum.middleware.io)
      run: |
        git clone https://.:${{ secrets.GHCR_TOKEN }}@github.com/middleware-labs/yum.middleware.io.git    
        mkdir -p install.middleware.io/rpms
        if [ ${{ matrix.arch }} == "x64" ]; then
          cp -r ~/rpmbuild/RPMS/x86_64/$BINARY_NAME-$RELEASE_VERSION-1.x86_64.rpm yum.middleware.io/x86_64/Packages/
        elif [ ${{ matrix.arch }} == "aarch64" ]; then
          cp -r ~/rpmbuild/RPMS/aarch64/$BINARY_NAME-$RELEASE_VERSION-1.aarch64.rpm install.middleware.io/aarch64/Packages/
        else
          echo "Unsupported architecture"
          exit 1
        fi
        
        cd yum.middleware.io
        git config --global user.email "keval@middleware.io"
        git config --global user.name "bhogayatakb"
        git add .
        git commit -m "RPM added to yum.middleware.io"
        git fetch origin master
        git merge origin/master
        git push origin master
    
    - name: Release lock
      run: flock upload.lock -c "echo Lock released"
    - name: Delay
      run: sleep 10
